In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("ANOVA Dataset.csv")
print (df)

    City   Rate
0      1  13.75
1      1  13.75
2      1  13.50
3      1  13.50
4      1  13.00
5      1  13.00
6      1  13.00
7      1  12.75
8      1  12.50
9      2  14.25
10     2  13.00
11     2  12.75
12     2  12.50
13     2  12.50
14     2  12.40
15     2  12.30
16     2  11.90
17     2  11.90
18     3  14.00
19     3  14.00
20     3  13.51
21     3  13.50
22     3  13.50
23     3  13.25
24     3  13.00
25     3  12.50
26     3  12.50
27     4  15.00
28     4  14.00
29     4  13.75
30     4  13.59
31     4  13.25
32     4  12.97
33     4  12.50
34     4  12.25
35     4  11.89
36     5  14.50
37     5  14.00
38     5  14.00
39     5  13.90
40     5  13.75
41     5  13.25
42     5  13.00
43     5  12.50
44     5  12.45
45     6  13.50
46     6  12.25
47     6  12.25
48     6  12.00
49     6  12.00
50     6  12.00
51     6  12.00
52     6  11.90
53     6  11.90

In [3]:
df1 = df.pivot(columns="City")['Rate']
df1[1]
df1

City      1      2      3      4      5      6
0     13.75    NaN    NaN    NaN    NaN    NaN
1     13.75    NaN    NaN    NaN    NaN    NaN
2     13.50    NaN    NaN    NaN    NaN    NaN
3     13.50    NaN    NaN    NaN    NaN    NaN
4     13.00    NaN    NaN    NaN    NaN    NaN
5     13.00    NaN    NaN    NaN    NaN    NaN
6     13.00    NaN    NaN    NaN    NaN    NaN
7     12.75    NaN    NaN    NaN    NaN    NaN
8     12.50    NaN    NaN    NaN    NaN    NaN
9       NaN  14.25    NaN    NaN    NaN    NaN
10      NaN  13.00    NaN    NaN    NaN    NaN
11      NaN  12.75    NaN    NaN    NaN    NaN
12      NaN  12.50    NaN    NaN    NaN    NaN
13      NaN  12.50    NaN    NaN    NaN    NaN
14      NaN  12.40    NaN    NaN    NaN    NaN
15      NaN  12.30    NaN    NaN    NaN    NaN
16      NaN  11.90    NaN    NaN    NaN    NaN
17      NaN  11.90    NaN    NaN    NaN    NaN
18      NaN    NaN  14.00    NaN    NaN    NaN
19      NaN    NaN  14.00    NaN    NaN    NaN
20      NaN    NaN  13.51    NaN    NaN    NaN
21      NaN    NaN  13.50    NaN    NaN    NaN
22      NaN    NaN  13.50    NaN    NaN    NaN
23      NaN    NaN  13.25    NaN    NaN    NaN
24      NaN    NaN  13.00    NaN    NaN    NaN
25      NaN    NaN  12.50    NaN    NaN    NaN
26      NaN    NaN  12.50    NaN    NaN    NaN
27      NaN    NaN    NaN  15.00    NaN    NaN
28      NaN    NaN    NaN  14.00    NaN    NaN
29      NaN    NaN    NaN  13.75    NaN    NaN
30      NaN    NaN    NaN  13.59    NaN    NaN
31      NaN    NaN    NaN  13.25    NaN    NaN
32      NaN    NaN    NaN  12.97    NaN    NaN
33      NaN    NaN    NaN  12.50    NaN    NaN
34      NaN    NaN    NaN  12.25    NaN    NaN
35      NaN    NaN    NaN  11.89    NaN    NaN
36      NaN    NaN    NaN    NaN  14.50    NaN
37      NaN    NaN    NaN    NaN  14.00    NaN
38      NaN    NaN    NaN    NaN  14.00    NaN
39      NaN    NaN    NaN    NaN  13.90    NaN
40      NaN    NaN    NaN    NaN  13.75    NaN
41      NaN    NaN    NaN    NaN  13.25    NaN
42      NaN    NaN    NaN    NaN  13.00    NaN
43      NaN    NaN    NaN    NaN  12.50    NaN
44      NaN    NaN    NaN    NaN  12.45    NaN
45      NaN    NaN    NaN    NaN    NaN  13.50
46      NaN    NaN    NaN    NaN    NaN  12.25
47      NaN    NaN    NaN    NaN    NaN  12.25
48      NaN    NaN    NaN    NaN    NaN  12.00
49      NaN    NaN    NaN    NaN    NaN  12.00
50      NaN    NaN    NaN    NaN    NaN  12.00
51      NaN    NaN    NaN    NaN    NaN  12.00
52      NaN    NaN    NaN    NaN    NaN  11.90
53      NaN    NaN    NaN    NaN    NaN  11.90

In [4]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [5]:
lm = ols("Rate~City", data=df).fit()
anova = sm.stats.anova_lm(lm, type = 1)
print(anova)

            df     sum_sq   mean_sq        F    PR(>F)
City       1.0   0.751583  0.751583  1.22315  0.273834
Residual  52.0  31.952217  0.614466      NaN       NaN

In [6]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey = pairwise_tukeyhsd(df["Rate"], groups=df["City"])
tukey._results_table

In [7]:
from scipy import stats
stats.ttest_ind(df)

TypeError: ttest_ind() missing 1 required positional argument: 'b'