In [3]:
from scipy.stats import ttest_ind
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
hci = pd.read_csv("C:/Users/Kavita manoj/Downloads/background.csv")

In [9]:
hci

   Unnamed: 0 Background Color  Reaction Time (ms)
0         NYP           yellow                 859
1         HDR             cyan                 462
2         CJK           yellow                 559
3         LYN             cyan                 971
4         ZGQ           yellow                 742
5         SVX             cyan                 810
6         JOR           yellow                 675
7         JFD             cyan                 469
8         PDH           yellow                 845
9         YHY             cyan                 450
10        BQG           yellow                 906
11        MND             cyan                 573
12        FIB           yellow                 592
13        LDS             cyan                 833
14        RJQ           yellow                 411
15        DAK             cyan                 846
16        MGD             cyan                 652
17        PBF           yellow                 695
18        WAP             cyan                 291
19        MQN           yellow                 783
20        IAD             cyan                 875
21        AIW           yellow                 700
22        KDR             cyan                 487
23        AMO           yellow                 676
24        SNQ             cyan                 657
25        TLZ           yellow                 392
26        ZFP             cyan                 472
27        YEY           yellow                 556
28        MLN             cyan                 618
29        OJN           yellow                 486
30        YOL             cyan                 779
31        JNM           yellow                 833
32        XCE             cyan                 647
33        NRW           yellow                 844
34        MTS             cyan                1005

In [41]:
hciCyan = hci[hci.drop(columns=['Unnamed: 0'])['Background Color']=='cyan'].drop(columns='Unnamed: 0')

In [42]:
hciCyan

   Background Color  Reaction Time (ms)
1              cyan                 462
3              cyan                 971
5              cyan                 810
7              cyan                 469
9              cyan                 450
11             cyan                 573
13             cyan                 833
15             cyan                 846
16             cyan                 652
18             cyan                 291
20             cyan                 875
22             cyan                 487
24             cyan                 657
26             cyan                 472
28             cyan                 618
30             cyan                 779
32             cyan                 647
34             cyan                1005

In [43]:
hciYellow = hci[hci.drop(columns=['Unnamed: 0'])['Background Color']=='yellow'].drop(columns='Unnamed: 0')

In [44]:
hciYellow

   Background Color  Reaction Time (ms)
0            yellow                 859
2            yellow                 559
4            yellow                 742
6            yellow                 675
8            yellow                 845
10           yellow                 906
12           yellow                 592
14           yellow                 411
17           yellow                 695
19           yellow                 783
21           yellow                 700
23           yellow                 676
25           yellow                 392
27           yellow                 556
29           yellow                 486
31           yellow                 833
33           yellow                 844

In [57]:
ttest_ind(hciYellow['Reaction Time (ms)'], hciCyan['Reaction Time (ms)'], alternative='less', equal_var=True)

Ttest_indResult(statistic=0.3028381095187076, pvalue=0.6180429665624954)